
*{
  margin: 0;
 
  
} 


.splitscreen{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2c3e50;
  height: 75vh;
}


.sleft{
  grid-column: 1;
  padding: 3px;
}

.sright{
  grid-column: 2;
  padding: 3px;
}

.header{
  color: black;
  display: grid;
  place-items: center;
  background-color: #a8dadc;
  height: 8vh;
}


.navbar{
  background-color: #2c3e50;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  height: 7vh;
}



.signUp{
  grid-column: 5;
  display: grid;
  place-items: center;
  background-color: #E6F7FF;
  height: 7vh;
  padding-left: 20px;
  padding-right: 20px;

  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.mainright{

  border-radius: 30px;
  background-color: #AED6F1; 
  text-align: center;
  height: 75vh;
}

.background{
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  background-color: #2c3e50;
  height: 17vh;
}

.mainleft{

  border-radius: 30px;
  background-color: #AED6F1; 



  text-align: center;
  /* background-color: #AED6F1; */
  /* background-color: #2c3e50; */
  /* background-color: #F0FFFF; */
  height: 75vh;
}

.input1{
  height: 40px;
}

.weather{
  padding: 3px;
  height: 16vh;
  border-radius: 30px;
  background-color: aqua;



  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;

}

.text{
  padding-bottom: 20px;
}

.filler{
  height: 3px;
  background-color: #2c3e50;
}